* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* shared style  */
.container {
  margin: 0 auto;
  max-width: 1440px;
}
.text-primary {
  color: rgba(39, 39, 39, 1);
}
.text-secondary {
  color: rgba(39, 39, 39, 0.6);
}
.btn {
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn-primary {
  background: #e55473;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

/* header section  */
.header {
  background: #fcedf1;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 97px;
  padding-top: 20px;
}
.header__content {
  width: 49%;
  max-width: 708px;
}
.header__title {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 32px;
}
.header__text {
  margin-bottom: 32px;
  line-height: 30px;
}
.header__image {
  width: 100%;
  height: auto;
}

/* featured section  */
.featured {
  margin-top: 178px;
}
.featured__content {
  margin: 0 auto;
  text-align: center;
  width: 41%;
  max-width: 594px;
}
.featured__title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.featured__text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 48px;
}

.featured-card {
  display: flex;
  gap: 24px;
}
.featured-card__container {
  text-align: center;
}

.featured-card__content1 {
  border-radius: 300px 300px 0 0;
  background-color: #f1dde7;
  height: 538px;
  width: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.featured-card__content2 {
  border-radius: 300px 300px 0 0;
  background-color: #DAF0F1;
  height: 538px;
  width: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.featured-card__content3 {
  border-radius: 300px 300px 0 0;
  background-color: #E4ECDC;
  height: 538px;
  width: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.featured-card__image {
  margin-top: auto;
}

.featured-card__list {
  list-style-type: none;
  /* color: #000; */
}

.featured-card__list a {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.featured-delivery {
    margin: 128px 0;
    background-color: #F4F4F4;
    padding: 86px 175px;
    display: flex;
    justify-content: center;
    gap: 100px;
    border-radius: 8px;
}

.featured-delivery__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}

.hot-deal {
    background-color: #FDF6F8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
    padding: 100px 0; 
}
.hot-deal__content {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 41%;
    max-width: 594px;
}

.hot-deal__title {
    font-size: 40px;
    font-weight: 800;
}

.instagram__content {
    width: 41%;
    max-width: 594px;
    text-align: center;
    margin: 128px auto 48px;
}
.instagram__title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.instagram__card {
    display: flex;
    gap: 24px;
    margin-bottom: 128px;
}

.latest-deal {
    background-image: url('../Assets/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 48px;

    padding: 122px 287px;
    margin-bottom: 128px;
}
.latest-deal__title {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 16px;
}
.latest-deal__input {
    display: flex;
    gap: 16px;
}

.latest-deal__input--email {
    width: 700px;
    height: 64px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
}

.footer {
    background: #111010;
    display: flex;
    justify-content: center;
}

.footer__content {
    width: 43%;
    max-width: 625px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
    padding: 128px 0;
}

.footer__title {
    font-weight: 800;
    font-size: 48px;
}

.footer__title--flower {
    font-size: 48px;
    font-weight: 800;
    color: #E55473;
}

.footer__title--shop {
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
}
.footer__text {
    color: #FFFFFF;
}
.footer__copyright {
    color: rgba(255, 255, 255, 0.4);
}





/* mobile responsive design  */
@media screen and (max-width: 576px) {
  .header__title {
    font-size: 30;
  }
  .header-container {
    flex-direction: column;
  }
  .header__content {
    width: 77%;
    text-align: center;
  }
}
