* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
}
.text-primary {
    color: rgba(39, 39, 39, 1);
} 
.text-secondary {
    color: rgba(39, 39, 39, 0.6);
}
.btn {
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn-primary {
    background: #E55473;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}
.header {
    background: #FCEDF1;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 97px;
    padding-top: 20px;
}
.header__content {
    width: 49%;
    max-width: 708px;
}
.header__title {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}
.header__text {
    margin-bottom: 32px;
}
.header__image {
    width: 100%;
    height: auto;
}